<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
         
  <display-name>Ejercicio preparación de exmámen</display-name>
  
  <!-- Listener opcional que permite, entre otras cosas, hacer uso del objeto RequestContextHolder (ver AuthenticationEvents.java para
       más información). 
  -->


  <!-- Configuración del servlet del hilo de usuario de spring y que hace referencia al fichero de configuración del contenedor /WEB-INF/session-context.xml-->	
  <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/session-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
  </servlet>
 
  <!-- Se especifica la ruta raiz desde la que se atenderán las peticiones con el servlet configurado en el trozo aml anterior.-->
  <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>